<ion-view view-title="Inventory">
  <ion-content>

  	 <div class="list list-inset">
	  <label class="item item-input">
	    <i class="icon ion-search placeholder-icon"></i>
	    <input type="text" placeholder="Search For Model Name" ng-model="query">
	  </label>
	</div>

	<div class="list" ng-repeat="vehicle in vehicles | filter:query">
	    <a class="item item-thumbnail-left" href="#/app/specs/{{vehicle.ModelName}}/{{vehicle.StyleTrim}}/{{vehicle.StyleId}}">
	      <img ng-src="img/cars/{{vehicle.ModelIdName}}.jpg">
	      <h2>{{vehicle.ModelName}}</h2>
	      <p>{{vehicle.StyleTrim}}</p>
	    </a>
	</div>
  </ion-content>
</ion-view>
