<ion-view view-title="Style Details">
  <ion-content>
  <div class="container">
		 <div class="row-center">
		 	<div class="col col-50 center">
			    <div class="list card">
				  <div class="item item-avatar">
				    <h2>Toyota 4 Runner</h2>
				    <p>Limited 4dr SUV (4.0L 6cyl 5A)</p>
				  </div>
				  <div class="item item-image">
				    <img src="img/cars/4Runner-1.jpg">
				  </div>
				  <a class="item item-icon-left assertive"></a>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col col-50 center">
				<button on-tap="viewSpecs()" class="button button-block button-assertive">
				  View Details
				</button>
			<button class="button button-block button-assertive">
				  Purchase Vehicle
				</button>
			</div>
		</div>
	</div>
  </ion-content>
</ion-view>
